@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@500&family=Dancing+Script:wght@500&family=Montserrat&family=PT+Serif:ital@1&display=swap");

body {
  display: flex;
  flex-direction: column;
  background-color: #1d5c9bc9;
  font-family: "Bebas Neue";
  font-weight: 50;
  width: 80%;
  align-self: center;
  margin: auto;
}
h1,
h2 {
  font-family: "Bebas Neue", bold;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #1b998b;
  padding: 1.5%;
  font-size: 2rem;
}
.nav-left {
  display: flex;
  align-items: center;
  height: 100%;
}
#logo-img {
  padding-top: 3%;
  width: 20%;
  height: 30%;
  /*transition??*/
}
.logo-img-swap {
  display: none;
  padding-top: 2.15%;
  /*width: 80px;
  height: 100px; ???*/
  width: 15%;
  height: 22%;
}
.logo-img-link:hover .logo-img-swap {
  display: inline;
}
.logo-img-link:hover #logo-img {
  display: none;
}
#home {
  display: flex;
  align-items: center;
  background-color: #f8f1ff;
  padding: 2%;
  font-size: 1.5rem;
  text-align: center;
}
.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}
.header-p {
}

.home-duck-img-1,
.home-duck-img-2 {
  width: 60%;
  height: 60%;
}
.nav-right {
  width: 80%;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}
.nav-list-item {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: black;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-list-item:hover {
  box-shadow: inset 200px 0 0 0 #f8f1ff;
  color: #656176;
  border-radius: 5px;
}

.nav-list-item:active {
  color: #1b998b;
}

li {
}

header {
}

#duck {
  display: flex;
  background-color: #decdf5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.duck-image {
  width: 40%;
  height: 40%;
}
.duck {
  width: 100%;
}
.link-img-duck {
  display: flex;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  padding: 0 10%;
  font-size: 1.5rem;
  text-align: center;
}

.main-section1-p {
  margin: 0;
}

#emergency {
  background-color: #656176;
}
#emergency-header {
  text-align: center;
  padding: 5%;
  margin: 0;
}
.emergency-img {
  width: 50px;
  height: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  width: 60%;
  margin: 0 auto;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

footer {
  background-color: #534d56;
}

.github {
  width: 40px;
  height: 40px;
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  flex-wrap: wrap;
}
input {
  min-height: 45px;
}
button {
  min-height: 51px;
}
a {
}
a:hover {
}
